<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script type="text/javascript" src="/static/main.js"></script>
	<title>rtsoft exercise</title>
</head>
<body>
	<div class="wrapper">
		<div class="left_side">
			<div class="upload_area">
				<form enctype="multipart/form-data" class="upload_form" method="post">
					<input type="file" id="chosen_file">
					<input type="button" id="upload_button" value="Upload">
				</form>
			</div>
			<div class="view_file_content_area">
			</div>
		</div>
		<div class="right_side">
			<div class="uploaded_files_area">
			</div>
		</div>
	</div>
</body>
</html>